header{
    height: auto;
    nav{
        .container{
            display: flex;
            align-items: center;
            img{
                width: 50px; 
                height: 50px; 
                border-radius: 50px;
            }
            .menu{
                background-color: rgb(238, 241, 243);
                .a_menu{
                    font-weight: bold;
                }
                .nav1{
                    align-items: center;
                    li{
                        :active{
                            color: rgb(179, 5, 191);
                            font-size: 101%;
                        }
                    }
                }
                .nav2{
                    align-items: center;
                    .geo_position{
                        margin: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                        background-color: rgb(238, 241, 243);
                        border-radius: 50px;
                        .bi-geo-alt-fill{
                            background-color: rgb(238, 241, 243);
                            color: rgb(93, 34, 103);
                            width: 20px;
                            height: 20px;
                        }
                    }
                    .geo_position2{
                        a{
                            span{
                                color: rgb(129, 8, 151);
                            }
                        }
                    }
                    .dropdown{
                        button{
                            background-color: rgb(238, 241, 243);
                            border: 0px;
                            color: black;
                            border-radius: 50px;
                            padding: 5px 20px 5px 20px;
                            .languages{
                                width: 20px;
                                height: 20px;
                            }
                        }
                        .flags_languages{
                            margin-top: 30px;
                            li{
                                a{
                                    .language1{
                                        width: 25px;
                                        height: 25px;
                                    }
                                    .language2{
                                        width: 25px;
                                        height: 25px;
                                    }
                                    .language3{
                                        width: 25px;
                                        height: 25px;
                                    }
                                }
                            }
                        }
                    }
                    .knopka_person{
                        margin: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                        background-color: rgb(238, 241, 243);
                        border-radius: 50px;
                        .bi-person-fill{
                            background-color: rgb(238, 241, 243);
                            color: rgb(93, 34, 103);
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
            .korzinka1{
                .nav3{
                    display: flex;
                    .knopka_korzinka{
                        margin: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                        background-color: rgb(238, 241, 243);
                        border-radius: 50px;
                        .bi-cart-fill{
                            background-color: rgb(238, 241, 243);
                            color: rgb(93, 34, 103);
                            width: 20px;
                            height: 20px;
                        }
                    }
                    .summa{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
    .header2{
        .row{
            // position: fixed;
            // z-index: 1;
            // margin-top: 0px;
            ul{
                box-shadow: 0px 5px 11px 1px rgb(238, 241, 243);

                li{
                    a{
                        color: black;
                    }
                    :hover{
                        background-color: rgb(238, 241, 243);
                        border-radius: 50px;
                    }
                    :active{
                        color: rgb(93, 34, 103);
                    }
                }
            }
        }
    }
}


main{
    .container{
        .row{
            h1{
                margin: 50px 0px 30px 0px;
            }
            .foods{
                padding: 10px 0px 10px 0px;
                .block{
                    margin: 5px 7px 5px 7px;
                    background-color: rgb(255, 255, 255);
                    border-radius: 18px;
                    box-shadow: 1px 1px 8px 0px rgb(233, 229, 229);
                    .block1{
                        .food_image{
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img{
                                width: 100%;
                                margin-top: 20px;
                            }
                        }
                    }
                    .block2{
                        padding: 10px 5px 10px 5px;
                        // .food_name{
    
                        // }
                        // .food_text{
    
                        // }
                        .summa{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            p{
                                align-items: end;
                                margin-top: 10px;
                            }
                        }
                        .button{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                         
                            button{
                                background-color: rgb(93, 34, 103);
                                width: 100%;
                                border: 0px;
                                border-radius: 50px;
                                padding: 7px 15px 7px 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}


footer{
    margin-top: 50px;
    height: auto;
    .container{
        .row{
            display: flex;
            align-items: center;
            margin: 30px 0px 30px 0px;
            .logo{
                img{
                    width: 50px; 
                    height: 50px; 
                    border-radius: 50px;
                }
            }
            .text{
                ul{
                    li{
                        a{
                            color: black;
                            font-size: 120%;
                            font-weight: 500;
                        }
                        :active{
                            color: rgb(93, 34, 103);
                            font: optional;
                        }
                    }
                }
            }
        }
        .footer2{
            display: flex;
            align-items: center;
            .text{
                background-color: rgb(255, 255, 255);
            }
            .messenger{
                ul{
                    svg{
                        margin: 10px;
                        color: rgb(136, 136, 136);
                    }
                }
            }
        }
    }
}